@font-face {
  font-family: 'Myanmar Khway';
  src: url('../fonts/MyanmarKhway.woff2') format('woff2'),
    url('../fonts/MyanmarKhway.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$myanmar-khway: 'Myanmar Khway';
