@import 'color';
@mixin container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2.5em;
}
@mixin scroll-style($stmbc: $dark-blue, $stbtc: $medium-blue) {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: $stbtc;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track {
    background: $stbtc;
    border: 0px none #ffffff;
    border-radius: 26px;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
