@import 'color';
@import 'utils';
.app {
  background-color: $dark-blue;
  width: 100%;
  min-height: 100vh;
}
.app_container {
  @include container;
  & > h1 {
    text-align: center;
    color: $thin-blue;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.main__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1em;
}

.save_button {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  background-color: $darkest-blue;
  color: $pure-white;
  width: min-content;
  margin: 0 auto;
  padding: 0.5em 1em;
  cursor: pointer;
}
