@import 'color';
@import 'utils';
.app {
  background-color: $dark-blue;
  width: 100%;
  height: 100vh;
}
.app_container {
  @include container;
  & > h1 {
    text-align: center;
    color: $thin-blue;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.main__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1em;
}
