@import 'color';
.card {
  padding: 4em 2em;
  background-color: $pure-white;
  width: 80%;
  height: 40vh;
  border-radius: 1.5em;
  justify-self: center;
  overflow: auto;
  & > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 50%;
    height: auto;
  }
}
