@import 'color';
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $thin-blue;
  & > svg {
    width: 4em;
    height: 4em;
  }
  & > div {
    display: flex;
    flex-flow: row nowrap;
    & > h3 {
      margin-left: 1em;
      cursor: pointer;
      font-size: 1.5rem;
      &:hover {
        color: $pure-white;
      }
    }
  }
}
