@import 'utils';
@import 'color';
.app {
  background-color: $dark-blue;
  width: 100%;
  min-height: 100vh;
}
.app_container {
  @include container;
  & > h1 {
    text-align: center;
    color: $thin-blue;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.play {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 4em 1em;
  align-items: center;
}
.play__card {
  & > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 50%;
    height: auto;
  }

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 50%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  & > h1 {
    font-size: 1.5rem;
  }
  width: 50%;
  height: 40vh;
  background-color: $pure-white;
  border-radius: 1em;
  padding: 1em 1em;
  overflow: auto;
}
.play__buttons {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  & > .reveal {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    font-weight: bold;
    color: $pure-white;
    background-color: $darkest-blue;
  }
  & > .mark {
    display: flex;
    & > div {
      padding: 0.5em 1em;
      font-size: 1.2rem;
      background-color: $thin-blue;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      &:hover {
        text-decoration: underline;
      }
      &:not(:last-child):after {
        content: '';
        position: absolute;
        width: 1px;
        height: 80%;
        background-color: $pure-black;
        top: 10%;
        right: 10%;
      }
    }
  }
}
